body{

}

#title
{
  background-color: #5f7d95;
  text-align: center;
  color:white;
  padding-bottom: 8%;

}

.pigimg
{
  width: 100%;
  position: absolute;
}

.arman
{
  color: blue;
}

.nav-style
{
  color: white;
  font-size: 20px;

}

.nav-text
{
  padding: 0 50px;
}

.container-fluid
{
  padding: 2% 20% 0;
  position: relative;
}


.title
{
  padding-top: 20px;
  font-size: 80px;
  width:70%;
  text-align: left;
}

.sm-title
{
  padding-top: 70px;
  text-align: left;
}

.bank-img
{
  width: 300px;
  margin-bottom: 10px;
  position:absolute;
  padding-top: 50px;
}

.row-by
{
  width:70%;
}

.facilities
{
  padding-top:80px;
}

#facility
{
  text-align: center;
}

.benefits
{
  width: 40%;
}

.benefits-user
{
  width: 65%;
}

.row-two
{
  padding: 30px 210px;
}

#footer
{
  text-align: center;
  padding: 20px 0 20px;
  background-color: #5f7d95;
}

p
{
  font-size: 15px;
}
